:host {
    display: flex;
    flex-direction: column;
}

.mat-checkbox {
    &:not(:first-child) {
        margin-top: 16px;
    }
    margin-bottom: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    mat-slider {
        grid-column: 1 / -1;
    }
}

.details {
    font-weight: 100;
    font-size: 0.8em;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
