/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #eee;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-button-base {
    text-transform: uppercase;
}

.mat-slider-horizontal {
    height: 32px !important;

    .mat-slider-wrapper {
        top: 13px !important;
    }
}

.list-item {
    &:before {
        content: "";
        display: block;
        border-left: 2px solid gray;
        border-top: 2px solid gray;
        width: 12px;
        height: 12px;
        right: 14px;
        position: absolute;
        top: calc(50% - 6px);
        transform: rotate(-45deg);
        transition: transform 0.3s;
        transform-origin: 4px 4px;
    }

    &.selected {
        background: rgba(0, 0, 0, 0.04) !important;

        &:before {
            transform: rotate(-135deg);
        }
    }
}

.dg.main {
    position: absolute;
    top: 0;
    right: 0;
}

.loader-overlay > mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
}