html,
body {
    height: 100%;
    background-color: #eee;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-button-base {
    text-transform: uppercase;
}

.mat-slider-horizontal {
    height: 32px !important;

    .mat-slider-wrapper {
        top: 13px !important;
    }
}

.dg.main {
    position: absolute;
    top: 0;
    right: 0;
}

.loader-overlay > mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
}
