<mat-card *ngIf="isPrinting$|async else notPrinting">
    <mat-card-content>
        <app-print-control></app-print-control>
    </mat-card-content>
</mat-card>

<ng-template #notPrinting>
    <button mat-raised-button color="primary" class="upload-button" (click)="uploadFile()">Upload</button>
    <ng-container *ngIf="files$|async as files">
        <ng-container *ngIf="files.length else noFiles">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let file of files; trackBy: trackFile" #panel
                    [expanded]="selectedFileName===file.name" (expandedChange)="$event && selectFile(file)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{file.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-preview @collapse *ngIf="panel.expanded" [layers]="file.layers$|async">
                    </app-preview>
                    <mat-action-row>
                        <button mat-button color="primary" (click)="printFile(file)">Print</button>
                        <button mat-button color="warn" (click)="deleteFile(file)">Delete</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>

        <ng-template #noFiles>
            <mat-card>
                <p>
                    Looks like you have <b>no files</b> that you can print.
                </p>
            </mat-card>
        </ng-template>
    </ng-container>
</ng-template>