:host {
    display: flex;
    flex-direction: column;
}

.selection-details {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    app-preview {
        flex: 1;
        overflow: hidden;
    }

    .actions {
        padding: 10px;
        display: flex;
        flex-direction: column;

        > * {
            margin-bottom: 8px;
        }
    }
}

.upload-button {
    margin: 16px 0 16px auto;
}
