.file-list.mat-card {
    padding: 0;
}

.selection-details {
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: row;
    overflow: hidden;

    app-preview {
        flex: 1;
        overflow: hidden;
    }

    .actions {
        padding: 10px;
        display: flex;
        flex-direction: column;

        > * {
            margin-bottom: 8px;
        }
    }
}
