<ng-container *ngIf="files$|async as files">
    <ng-container *ngIf="files.length else noFiles">
        <mat-card class="file-list" *ngIf="(isPrinting$|async) == false">
            <mat-card-content>
                <mat-action-list>
                    <div mat-subheader>Files</div>
                    <ng-container *ngFor="let file of files">
                        <button class="list-item" [class.selected]="selectedFileName===file.name" mat-list-item
                            (click)="selectFile(file)">{{file.name}}</button>
                        <div @collapse *ngIf="selectedFileName===file.name" class="selection-details">
                            <app-preview [layers]="file.layers$|async">
                            </app-preview>
                            <div class="actions">
                                <button mat-raised-button color="primary" (click)="printFile(file)">Print</button>
                                <button mat-button (click)="deleteFile(file)">Delete</button>
                            </div>
                        </div>
                    </ng-container>
                </mat-action-list>
            </mat-card-content>
        </mat-card>
    </ng-container>
</ng-container>

<ng-template #noFiles>
    <mat-card>
        <p>
            Looks like you have <b>no files</b> that you can print. <br><br>
            In order to begin, click <a routerLink="/create">CREATE</a> in the menu bar.
        </p>
    </mat-card>
</ng-template>

<mat-card *ngIf="(isPrinting$|async) == true">
    <mat-card-content>
        <app-print-control></app-print-control>
    </mat-card-content>
</mat-card>